.auth-container{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#111827;

}

.card{

width:380px;

padding:40px;

background:#1f2937;

border-radius:15px;

display:flex;

flex-direction:column;

gap:18px;

color:white;

}

input{

padding:14px;

border:none;

border-radius:8px;

outline:none;

}

button{

padding:14px;

border:none;

border-radius:8px;

cursor:pointer;

background:#2563eb;

color:white;

font-size:16px;

}

button:hover{

background:#1d4ed8;

}

.error{

color:#ef4444;

}
